<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page %></title>

    <link rel="stylesheet" type="text/css" href="css/<%= page %>.css">
    <%- include('../partials/head'); %>
    <%- include('../partials/scripts'); %>
</head>
<body>
   
    <%- include('../partials/navbar'); %>
   
    <br>
    <main id="main" class="container">        
           
          
    <div>
      <br>
        <Table class="fixed_headers">
            <thead>
                <tr>
                  <% for (let i=0; i<field.length; i++){%>
                  <th><%= field[i] %></th>
                  <%}%>                                         
                </tr>
              </thead>
              <tbody>
                
                <% for (let i=0; i<data.length; i++){%>
                    <tr>
                        
                        <tr key=<%= data[i].Achat_id %>>    <th scope="row"><%= data[i].Achat_id %></th>
                        <td><%= data[i].Client_id %></td>
                        <td><%= data[i].Produit_id %></td>
                        <td><%= data[i].Achat_Quantite %></td>
                        <td><%= data[i].Achat_Prix %></td>
                        <td><%= data[i].Achat_Date %></td>                          
                    </tr>                  
                    <%}%>                            
            </tbody>
          </Table>          
    </div>
  </main>

<canvas class="background"></canvas>  


</body>
</html>