<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page %></title>

    <link rel="stylesheet" type="text/css" href="css/<%= page %>.css">
    <%- include('../partials/head'); %>
    <%- include('../partials/scripts'); %>
</head>
<body>
   
    <%- include('../partials/navbar'); %>
   
           <br>
     
    <div>
      <br>
        <Table class="fixed_headers">
            <thead>
                <tr>
                  <% for (let i=0; i<field.length; i++){%>
                  <th><%= field[i] %></th>
                  <%}%>                                         
                </tr>
              </thead>
              <tbody>
                
                <% for (let i=0; i<data.length; i++){%>
                    <tr>
                        
                        <tr key=<%= data[i].Client_ID %>>    <th scope="row"><%= data[i].Client_ID %></th>
                        <td><%= data[i].Client_Name %></td>
                        <td><%= data[i].Client_Email %></td>
                        <td><%= data[i].Client_Adresse %></td>
                        <td><%= data[i].Client_Telephone %></td>
                        <td><button class="select-row-btn" data-id=<%= data[i].Client_ID %>>Supprimer</td>  
                    </tr>                  
                    <%}%>                            
            </tbody>
          </Table>          
    </div>
 

<canvas class="background"></canvas>  


</body>
</html>